version: '3.9'

services:
  app:
    build: ./php
    container_name: cakephp_app
    volumes:
      - ./src:/var/www/html

  nginx:
    image: nginx:latest
    container_name: cakephp_nginx
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - 3307:3306
    environment:
      MYSQL_DATABASE: cakephp
      MYSQL_USER: user
      MYSQL_PASSWORD: passw0rd
      MYSQL_ROOT_PASSWORD: passw0rd
      BIND-ADDRESS: 0.0.0.0
      TZ: "Asia/Tokyo"
    volumes:
      - mysql-volume:/var/lib/mysql

volumes:
  mysql-volume: