* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}
header #logo {
    color: #fff;
    font-size: 32px;
}
header ul {
    display: flex;
    gap: 8px;
    margin: 0;
}
header li {
    list-style: none;
}
header a {
    color: #fff;
    font-size: 16px;
}

.users-add, .users-add button {
    display: block;
    margin: auto !important;
}

